<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap/icons/font/bootstrap-icons.css' %}">
    <link rel="stylesheet" href="{% static 'css/Base.css' %}">
    {% block css %}{% endblock %}
</head>
<body>

<header>
  
  <nav class="navbar navbar-expand-lg">
    <div class="container-fluid">

      
      <div class="navbar-brand d-flex align-items-center justify-content-center" href="#">
        <a href="" class="d-lg-none bi bi-person-circle text-light" style="font-size: 2rem; padding-right: 0.5em;"></a>
        <span class="font-monospace fw-bold">CONVERTIDOR FREE</span>
      </div>
      
      <button class="navbar-toggler navbar-toggler-icon" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation"></button>
      
      <div class="collapse navbar-collapse" id="navbarNav">

        <ul class="navbar-nav">
          <li class="nav-item"><a href="{% url 'home:home' %}" class="nav-link">Home</li></a>
          <li class="nav-item"><a href="{% url 'contacto:contacto' %}" class="nav-link">Contacto</li></a>
          <li class="nav-item"><a class="nav-link">Acerca de</li></a>
        </ul>
      </div>

      <div class="collapse navbar-collapse justify-content-end me-4">
        <span class="row align-items-center text-light">
          <i class="col bi bi-person-circle" style="font-size: 2rem;padding-right:10px;"></i>
          <a class="col btn btn-light">Login</a>
        </span>
      </div>

    </div>
    
  </nav>

</header>
    
    <div>
        {% block contenido %}{% endblock %}
    </div>

    <footer class="container-fluid text-center">

      <div class="font-monospace row justify-content-center">
        <h4>© 2024 toolConverter</h4>
        <p>Todos los derechos reservados</p>
      </div>

    </footer>
    <script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>
</body>
</html>