{% extends 'Base.html' %}
{% block contenido %}

<h1>Resultados de Conversión</h1>

<div class="row justify-content-around">
    <div class="row">

        <div class="col-lg-6">
            <div class="ratio ratio-16x9">
                {{url|safe}}
            </div>
            
        </div>

        <div class="col-lg-6">
            <div class="row text-center">
                <h1>{{titulo}}</h1>
            </div>

            <div class="row">

                <div class="col">
                    <h4 class="row justify-content-center">Archivo Audio</h4>
                    <table class="col table table-striped">
                        <thead class="text-center">
                            <tr>
                                <th>Calidad</th>
                                <th>Formato</th>
                                <th>Download</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for i in calidadAudio %}
                            <tr>
                                <th name="valAudio">{{i}}</th>
                                <th>MP3</th>
                                <th>
                                    <form method="post">{% csrf_token %}
                                        <input type="submit" value="download">
                                        <input type="hidden" name="action" value="form2">
                                        <input type="hidden" name="indexG" value="{{forloop.counter0}}">
                                        <input type="hidden" name="format" value="mp3">
                                        <input type="hidden" name="urlMax" value="{{urlYT|safe}}">
                                    </form>
                                </th>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>

                <div class="col">
                    <h4 class="row justify-content-center">Archivo Video</h4>
                    <table class="col table table-striped">
                        <thead class="text-center">
                            <tr>
                                <th>Calidad</th>
                                <th>Formato</th>
                                <th>Download</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for i in calidadVideo %}
                            <tr>
                                <th>{{i}}</th>
                                <th>MP4</th>
                                <th>
                                    <form method="post">{% csrf_token %}
                                        <input type="submit" value="download">
                                        <input type="hidden" name="action" value="form2">
                                        <input type="hidden" name="indexG" value="{{forloop.counter0}}">
                                        <input type="hidden" name="format" value="mp4">
                                        <input type="hidden" name="urlMax" value="{{urlYT|safe}}">
                                    </form>
                                </th>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>

            </div>

        </div>

    </div>
</div>

{% endblock %}
