{% extends 'Base.html' %}
{% load static %}
{% block css %} <link rel="stylesheet" href="{% static 'css/estilos.css' %}"> {% endblock %}

{% block contenido %}

<div class="container">
    <div class="row text-center">
        <h1>Convierte tu video favorito a MP3 / MP4</h1>
    </div>
    <div class="row">
        <form class="row  justify-content-center" action="" method="post">
            <div class="col-lg-9">
                <input class="form-control" type="text">
            </div>
            <div class="col-lg-3">
                <input class='form-control btn btn-primary' type="submit" value="Convertir">
            </div>
        </form>
    </div>
    <div class="row">
        <h2>Apoyanos comprandonos un cafe</h2>
    </div>
    <div class="row">
        <div class="row">
            <div class="col">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/RKU0WS1sBrk?si=U80ceOVGJuJB9I3S" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </div>
            <div class="col">
                <div class="row">
                    <h1>ESTO ES EL TITULO DEL VIDEO</h1>
                </div>
                <div class="row">
                    <div class="col">
                        <h4 class="row justify-content-center">Archivo Audio</h4>
                        <table class="row table">
                            <thead>
                                <tr class="justify-content-center">
                                    <th>Calidad</th>
                                    <th>Formato</th>
                                    <th>Download</th>
                                </tr>
                            </thead>
                            <tbody>

                            </tbody>
                        </table>
                    </div>
                    <div class="col">
                        <p>descargar mp4</p>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>

{% endblock %}